- content_for(:header_title) { "Migrate translations into AwesomeTranslations" }

= form_for :migration, url: migrations_path do |f|
  = bb_panel "Migrate", table: true do
    %thead
      %tr
        %th{colspan: 2} Key
        %th File
        %th New file
    %tbody
      - translations_to_migrate.each do |translation|
        %tr
          %td= check_box_tag("m[#{translation.id}]", 1, true)
          %td= translation.key
          %td= path_without_root_or_locales(translation.file_path)
          %td= path_without_root_or_locales(translation.calculated_translation_file_path)
      - if translations_to_migrate.empty?
        %tr
          %td{colspan: 4} No translations were found

  = f.submit "Migrate", class: ["btn", "btn-danger"]
