<h1>
  <%= User.model_name.human(count: 2) %>
</h1>
<div class="hello-world-i18n">
  <%= t(".hello_world") %>
</div>
<h2>
  <%= t(".list_of_users") %>
</h2>
<table>
  <thead>
    <tr>
      <th>
        <%= User.human_attribute_name(:id) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.id, user_path(user) %>
        </td>
      </tr>
    <% end %>
    <% unless @users.any? %>
      <tr>
        <td colspan="1">
          <%= t(".no_users_was_found") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
