!!! 5
%html
  %head
    %title Dummy
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .awesome-translations
      = link_to t(".awesome_translations"), try(:awesome_translations_path)

    .language
      = link_to t(".english"), locales_path(locale: :en), method: :post
      = link_to t(".danish"), locales_path(locale: :da), method: :post

    .current-language
      = t(".the_current_language_is", locale: I18n.locale)

    = t(".hello_world")
    = t(".hello_world")

    .helper_hello_world
      = "Hello world from helper"
      = hello_world

    = yield
