<% content_for(:header_title) { "Duplicates" } %>

<%= form_tag do %>
  <% count = 0 %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Key</th>
            <th>Path</th>
            <th>Other path</th>
          </tr>
        </thead>
        <tbody>
          <% @duplicates.each do |duplicate| %>
            <% count += 1 %>
            <% other = AwesomeTranslations::CacheDatabaseGenerator::TranslationValue.find(duplicate.duplicate_id) %>
            <tr>
              <td>
                <%= check_box_tag "d[#{other.id}]", 1, true %>
              </td>
              <td>
                <%= duplicate.key %>
              </td>
              <td>
                <%= path_without_root_or_locales duplicate.file_path %>
              </td>
              <td>
                <%= path_without_root_or_locales other.file_path %>
              </td>
            </tr>
          <% end %>
          <% if count == 0 %>
            <tr>
              <td colspan="4">No duplicates was found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if count > 0 %>
    <div class="panel panel-default">
      <div class="panel-body">
        <input class="btn btn-primary" type="submit" value="Delete duplicates" />
      </div>
    </div>
  <% end %>
<% end %>
