<% content_for(:header_title) { "Show group: #{truncate(@group.name.reverse, length: 45).reverse}" } %>

<% content_for(:header_right) do %>
  <%= link_to [:update_translations_cache, @handler, @group], method: :post, class: "btn btn-default btn-sm", data: {confirm: "Are you sure?"} do %>
    <i class="fa fa-refresh"></i>
    Update translations
  <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Filter
    </div>
  </div>
  <div class="panel-body">
    <form method="get">
      <div class="form-group">
        <label for="q_translation_key_key_cont">
          Key contains
        </label>
        <input class="form-control" id="q_translation_key_key_cont" name="q[translation_key_key_cont]" value="<%= params.dig(:q, :translation_key_key_cont) %>" />
      </div>
      <input class="btn btn-primary" type="submit" value="filter" />
    </form>
  </div>
</div>

<%= form_for :group, url: handler_group_path(@handler, @group), method: :put, class: "translations" do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= @group.name %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <th>Last Key</th>
          <% I18n.available_locales.each do |locale| %>
            <th>
              <%= locale %>
            </th>
          <% end %>
        </thead>
        <tbody>
          <% @translations.each do |translation| %>
            <tr>
              <td class="translation-key">
                <div class="translation-key-text">
                  <%= translation.key_show_with_fallback %>
                </div>
              </td>
              <% I18n.available_locales.each do |locale| %>
                <td class="translation">
                  <%= text_field "t", "#{translation.key}[#{locale}]", class: "translation-input", lang: locale, name: "t[#{translation.key}][#{locale}]", value: translation.translation_value(locale: locale) %>
                </td>
              <% end %>
            </tr>
            <% if translation.file_line_content? || translation.default.present? %>
              <tr class="line-content-row">
                <td class="line-content" colspan="<%= (1 + I18n.available_locales.length) %>">
                  <div class="code-container">
                    <% if translation.file_line_content? %>
                      <pre><%
                        %><p style="font-weight: bold;"><%= translation.file_path %>:<%= translation.line_no %></p><%
                        %><%= translation.file_line_content.to_s.strip %><%
                      %></pre>
                    <% elsif translation.default.present? %>
                      Default: <%= translation.default %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
          <% if @translations.empty? %>
            <tr>
              <td class="error" colspan="<%= (1 + I18n.available_locales.length) %>">No translations were found.</td>
            </tr>
          <% end %>
        </tbody>
        <tr>
          <td colspan="<%= (1 + I18n.available_locales.length) %>">
            <%= f.submit "Save", class: ["btn", "btn-primary"] %>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
