- content_for(:header_title) { "Show group: #{truncate(@group.name.reverse, length: 45).reverse}" }
- content_for(:header_right) do
  = bb_btn [:update_translations_cache, @handler, @group], "Update translations", method: :post, data: {confirm: "Are you sure?"}

= bb_panel "Filter" do
  = simple_form_for :q, method: :get do |f|
    = f.input :translation_key_key_cont, label: "Key contains", input_html: {value: @ransack_params[:translation_key_key_cont]}
    = f.button :submit, "Filter", class: ["btn", "btn-primary"]

= form_for :group, url: handler_group_path(@handler, @group), method: :put, class: "translations" do |f|
  = bb_panel @group.name, table: true do
    %thead
      %th Last Key
      - I18n.available_locales.each do |locale|
        %th= locale
    %tbody
      - @translations.each do |translation|
        %tr
          %td.translation-key
            .translation-key-text= translation.key_show_with_fallback

          - I18n.available_locales.each do |locale|
            %td.translation
              = text_field "t", "#{translation.key}[#{locale}]", class: "translation-input", lang: locale, value: translation.translation_value(locale: locale)

        - if translation.file_line_content? || translation.default.present?
          %tr.line-content-row
            %td.line-content{colspan: 1 + I18n.available_locales.length}
              .code-container
                - if translation.file_line_content?
                  %pre= translation.file_line_content
                - elsif translation.default.present?
                  Default: #{translation.default}
      - if @translations.empty?
        %tr
          %td.error{colspan: 1 + I18n.available_locales.length} No translations were found.
    %tr
      %td{colspan: 1 + I18n.available_locales.length}
        = f.submit "Save", class: ["btn", "btn-primary"]
