- content_for(:header_title) { "Show group: #{@group.name}" }
- content_for(:header_right) { link_to "Update translations", update_translations_cache_handler_group_path(@handler.identifier, @group.identifier), method: :post, class: "button", data: {confirm: "Are you sure?"} }

= form_for :group, url: handler_group_path(@handler, @group), method: :put do |f|
  %table.translations
    %thead
      %th Last Key
      - I18n.available_locales.each do |locale|
        %th= locale
    %tbody
      - @translations.each do |translation|
        %tr
          %td.translation-key
            .translation-key-text= translation.key_show_with_fallback

          - I18n.available_locales.each do |locale|
            %td.translation= text_field "t", "#{translation.key}[#{locale}]", class: "translation-input", lang: locale, value: translation.translation_value(locale: locale)

        - if translation.file_line_content? || translation.default.present?
          %tr.line-content-row
            %td.line-content{colspan: 1 + I18n.available_locales.length}
              .container
                - if translation.file_line_content?
                  %pre= translation.file_line_content
                - elsif translation.default.present?
                  = "Default: #{translation.default}"
          %tr
            %td.line-spacer{colspan: 1 + I18n.available_locales.length}
      - if @translations.empty?
        %tr
          %td.error{colspan: 2} No translations were found.

  = f.submit "Save"
