- content_for(:header_title) { "Show handler: #{@handler.name}" }
- content_for(:header_right) do
  = bb_btn [:update_groups_cache, @handler], "Update groups", method: :post, data: {confirm: "Are you sure?"}, sm: true

= bb_panel @handler.name, table: true do
  %thead
    %th Group
    %th Translations
    %th Finished
    %th Unfinished
  %tbody
    - @groups.includes(handler_translations: :translation_key).each do |group|
      %tr
        %td= link_to group.name, handler_group_path(@handler, group)
        %td= group.handler_translations.count
        %td= group.handler_translations.count(&:finished?)
        %td= group.handler_translations.count(&:unfinished?)
    - if @groups.empty?
      %tr
        %td.error{colspan: 4} No groups were found.
