- content_for(:header_title) { "Show handler: #{@handler.name}" }
- content_for(:header_right) do
  = link_to "Update groups", [:update_groups_cache, @handler], method: :post, class: "button", data: {confirm: "Are you sure?"}

%table
  %thead
    %th Group
    %th Translations
    %th Finished
    %th Unfinished
  %tbody
    - @groups.includes(handler_translations: :translation_key).each do |group|
      %tr
        %td= link_to group.name, handler_group_path(@handler, group)
        %td= group.handler_translations.count
        %td= group.handler_translations.count(&:finished?)
        %td= group.handler_translations.count(&:unfinished?)
    - if @groups.empty?
      %tr
        %td.error{colspan: 4} No groups were found.
