<% content_for(:header_title) { "Show handler: #{@handler.name}" } %>

<% content_for(:header_right) do %>
  <%= link_to [:update_groups_cache, @handler], class: "btn btn-default btn-sm", method: :post, data: {confirm: "Are you sure?"} do %>
    <i class="fa fa-refresh"></i>
    Update groups
  <% end %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Filter
    </div>
  </div>
  <div class="panel-body">
    <form method="get">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="q_name_cont">
              Name contains
            </label>
            <input class="form-control" id="q_name_cont" name="q[name_cont]" type="text" value="<%= params.dig(:q, :name_cont) %>" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="q_with_translations">
              With translations
            </label>
            <select class="form-control" id="q_with_translations" name="q[with_translations]">
              <option />
              <%= options_for_select(with_translations_collection, params.dig(:q, :with_translations)) %>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="q_with_missing_translations">
              Missing translations
            </label>

            <select class="form-control" name="q[with_missing_translations]" id="q_with_missing_translations">
              <option />
              <%= options_for_select(with_missing_translations_collection, params.dig(:q, :with_missing_translations)) %>
            </select>
          </div>
        </div>
      </div>

      <input class="btn btn-primary" value="Filter" type="submit" />
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <%= @handler.name %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <th>Group</th>
        <th class="text-right">Translations</th>
        <th class="text-right hidden-xs">Finished</th>
        <th class="text-right hidden-md hidden-sm hidden-xs">Unfinished</th>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td>
              <%= link_to group.name, handler_group_path(@handler, group) %>
            </td>
            <td class="text-right">
              <%= group.handler_translations.count %>
            </td>
            <td class="text-right hidden-xs">
              <%= group.handler_translations.select(&:finished?).length %>
            </td>
            <td class="text-right hidden-md hidden-sm hidden-xs">
              <%= group.handler_translations.select(&:unfinished?).length %>
            </td>
          </tr>
        <% end %>
        <% if @groups.empty? %>
          <tr>
            <td class="error" colspan="4">No groups were found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
